html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 0.875rem;
  overflow-x: hidden !important;
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.landing {
  color: $black;
  overflow: hidden;
  // h1,h2,h3,h4,h5,h6 {
  //   color: $black;
  // }
  p {
    color: rgba(var(--body), 0.74);
  }
  // Global styles for landing page
  a {
    text-decoration: none;
  }
  // img {
  //   max-width: 100%;
  // }
  div,
  section {
    box-sizing: border-box;
  }
  // Background
  .light-gray {
    background: rgba(0, 0, 0, 0.024);
  }
  .bg-img-indigo {
    background: url(/assets/images/home-bg.jpg) center center/cover no-repeat !important;
  }
  .bg-img-black {
    background: url(/assets/images/home-bg-black.png) center center/cover
      no-repeat !important;
  }

  // Typography
  .text-center {
    text-align: center;
  }
  .text-sm {
    font-size: 0.813rem;
  }
  .fs-1 {
    font-size: 1rem !important;
  }
  .fw-400 {
    font-weight: 400;
  }
  .font-light {
    font-weight: 300 !important;
  }

  .text-capitalize {
    text-transform: capitalize;
  }
  .text-uppercase {
    text-transform: uppercase;
  }

  .text-primary {
    color: $primary;
  }
  .text-secondary {
    color: $secondary;
  }

  // positioning
  .relative {
    position: relative;
  }

  .elevation-3 {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  }

  // Card styles
  .card {
    transition: all 0.3s ease;
    // img {
    //   min-width: 100%;
    // }
    &:hover {
      box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
    }
  }

  // Subscribe input
  .subscribe-input {
    display: inline-flex;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    border-radius: 2rem;
    overflow: hidden;
    background: $white;
    min-width: 480px;
    .email-input {
      border: 0;
      font-size: 1rem;
      flex-grow: 1;
      padding: 0;
      line-height: 1;
      margin: 0;
      background: inherit;
      &:focus {
        outline: 0;
      }
    }
    .btn-action {
      margin: 0 !important;
    }
    @media only screen and (max-width: 767px) {
      max-width: 90%;
      min-width: auto;
    }
  }

  // Rounded icon
  .rounded-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 64px;
    border: 2px solid rgba($brand-rgb, 0.8);
    color: $brand;
    background: rgba($brand-rgb, 0.2);
    .material-icons {
      font-size: 1.5rem;
    }
    &.secondary {
      border: 2px solid rgba($secondary-rgb, 0.8);
      color: $secondary;
      background: rgba($secondary-rgb, 0.2);
    }
  }

  // Section styles
  .section {
    padding: 5rem 0;

    .section__header {
      margin: 0 0 32px;
      h2 {
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 16px;
      }
      p {
        font-size: 16px;
        max-width: 36rem;
        margin: 0;
      }
    }
  }

  // Custom buttons
  .btn-action {
    padding: 0 24px !important;
    font-size: 18px !important;
  }
  .btn-white {
    background: $white !important;
    color: $black !important;
    &:hover {
      background: darken($white, 5) !important;
    }
  }
}

.section-intro {
  padding-top: 7.5rem !important;
  @media screen and (max-width: 767px) {
    padding-top: 5rem !important;
  }
}
// Intro section 1
.section-intro1 {
  padding: 180px 0 !important;
  color: $white;
  overflow: hidden;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }
  .section-intro1__title {
    margin: 0 0 24px;
    font-size: 48px;
    font-weight: 900;
    line-height: 52px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
  }
  .section-intro1__subtitle {
    margin: 0 0 40px;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
  }
  .section-intro1__list {
    margin: 0 0 30px;

    .section-intro1__list__item {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      .material-icons {
        margin-right: 7px;
      }
    }
  }
  .section-intro1__product {
    position: relative;
    top: 100px;
    // left: 60px;
    img {
      width: 100%;
      border-radius: 0.5rem;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    }
    .section-intro1__product__link {
      position: absolute;
      top: -100px;
      left: -30px;
      text-align: center;
      display: block;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background: $white;
      color: $black;
      padding: 37px 20px;
      box-sizing: border-box;
      overflow: hidden;
      box-shadow: 0 14px 32px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;
      &:hover {
        box-shadow: 0 19px 32px rgba(0, 0, 0, 0.4);
      }
      .price {
        font-size: 32px;
        font-weight: 700;
      }
      .price__text {
        font-size: 14px;
      }
    }
  }

  .intro1__description {
    max-width: 570px;
    margin: 0 auto 24px;
  }
  @media only screen and (max-width: 767px) {
    padding: 100px 0 !important;
  }
  @media only screen and (max-width: 959px) {
    text-align: center;
    .section-intro1__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .section-intro1__product {
      top: 0;
      left: 0;
    }
    .section-intro1__product__link {
      display: none !important;
    }
  }
}

.section-intro2 {
  padding: 180px 0 0 !important;
  overflow: visible !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }
  .section-intro2__product {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: auto;
    bottom: -80px;
    max-width: 780px;
    margin-bottom: 5rem;
    img {
      border-radius: 0.5rem;
      box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
    }
  }

  @include media(767px) {
    padding: 100px 0 0 !important;
    .section-intro2__product {
      bottom: -63px;
    }
  }

  @include media(580px) {
    .section-intro2__product {
      bottom: -39px;
    }
  }
}

.section-intro3 {
  background: $white;
  color: $black;
  .section-intro1__title {
    color: $brand;
  }

  .intro3__product {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    img {
      max-width: 65%;
    }
  }
}
